/* bg image MANGLER AT JUSTERE BILLEDETS POSITION*/
* {
    margin: 0px;
    padding:0px;}

.menu-section{
    background-image: url("gourmet.jpg");
    background-size: cover;
    background-attachment: scroll;
    opacity: 0.5;}

/* header */
.header {
    width: 100%;
    height: 90px;
    background-color: rgb(0, 0, 0, 0.7);}

.menu-section{
    max-width: 680px;
    margin: 0 auto;
    display: block;
    color: black;
}


