
.login-page {
    width: 50%;
    margin: 3% 20% 0% 25%;
    padding: 10%, 0, 0;
}

.form {
    position: relative;
    font-family: "Calibri";
    z-index: 1;
    background: whitesmoke;
    margin: auto;
    padding: 10%;
    text-align: center;
    border-radius: 10px;
}

.form input {
    font-family: "roboto", sans-serif;
    outline: 1;
    background: white;
    width: 100%;
    border: 1px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 1px;
}

.form button:hover,.form button:active{
   background: #43A047;
}

.form .message {
    margin:15px 0 0;
    color: black;
    text-decoration: none;
}

.form .message a {
    text-decoration:noe;
}

.login-form span {
    text-decoration: none;
}

.form .register-form {
    display: ;
}

#demo {
    color: red;
    margin: 15px 0 0;
}

#span {
    color: red;
}

td {
    padding: 10px 55px 10px 10px;
    border-bottom: solid 1px;

}

tr {
    padding: 10px 55px 10px 10px;
}
