* {
    margin: 0px;
    padding:0px;}

/* bg image */
.hav{
    background-image: url("gourmet.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;}

/* Header */
.menu{
    width: 100%;
    height: 90px;
    background-color: rgb(0, 0, 0, 0.7);}

.leftmenu{
    width: 25%;
    line-height: 80px;
    float: left;}

/* Restaurant navn */
.leftmenu h2{
    padding-left: 50px;
    font-weight: bold;
    color: white;
    font-size: 25px;
    letter-spacing: 14px;
    list-style: none;
    line-height: 100px;}


/* navigationsbaren mangler at kunne hover*/
a {
    float: right;
    padding-right: 50px;
    line-height: 100px;
    color: antiquewhite;
    letter-spacing: 5px;
    font-size: 12px;
    text-decoration: none;}

/* navigationsbaren mangler at kunne hover*/


 /* Lille text */
.text{
    width: 100%;
    margin-top: 90px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 17px;
    color: lightgrey;}

   /* stor gourmet text */
.largetext {
    color: lightgrey;
   font-size: 17px;}

/* Knappen VIEW MENU */
.buttonone {
    background-color: white;
    line-height: 30px;
    width: 130px;
    font-size: 12px;

    margin-top: 15px;
    border: 1px solid white;}

/* Knappen BOOK TABLE*/
.buttontwo{
    background-color: transparent;
    font-size: 12px;

    line-height: 30px;
    width: 130px;
    margin-top: 15px;
    border: 1px solid white;
    color: white;
}


